.education-section {
  padding: 2rem;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  animation-duration: 1.5s;
}

.education-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.education-item {
  margin-bottom: 1.5rem;
  text-align: center;
}

.education-item h3 {
  font-size: 1.5rem;
  color: #555;
}

.education-item p {
  font-size: 1rem;
  color: #666;
}